.navbar{
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(75,0,0,1) 100%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}

.btn-primary{
    background-image: url("../../wood.jpg");
    border: 0;
}

.btn:hover{
    color: white
}

.home{
    width: 300px;
}

.mat-icon{
    width: 40px;
    height: 40px;
    font-size: 40px;
}