<div *ngIf="spinnerActive" class="spinner">
    <mat-spinner ></mat-spinner>
</div>
<div *ngIf="!spinnerActive" class="container">
    <div class="backdrop-wrapper">
        <img class="backdrop" [src]='"https://image.tmdb.org/t/p/original/"+ movieDetails.backdrop_path' alt="backdrop" />
    </div>
    <div class="row">
        <div class="col-md-6 moviepostercontainer">
            <img class="movieposter" [src]= '"https://image.tmdb.org/t/p/original/"+ movieDetails.poster_path' alt="poster" />
        </div>
        <div class="col-md-6">
            <div>
                <div class = "text">
                    <div  >
                        <h3>{{movieDetails.title}} ({{movieDetails.release_date.slice(0,4)}})</h3>
                        <h5>{{movieDetails.release_date}} ● {{movieDetails.runtime}} Min ●  {{getMovieGenres()}}</h5>
                    </div>
                    <p >{{movieDetails.tagline}}</p>
                    <p >{{movieDetails.overview}}</p>
                </div>
                <div style="display: flex;">
                    <div class="single-chart">
                        <svg viewBox="0 0 36 36" [ngClass]="getCircleColor()">
                          <path class="circle-bg"
                            d="M18 2.0845
                              a 15.9155 15.9155 0 0 1 0 31.831
                              a 15.9155 15.9155 0 0 1 0 -31.831"
                          />
                          <path class="circle"
                          [attr.stroke-dasharray]="vote_average + ', 100'"
                            d="M18 2.0845
                              a 15.9155 15.9155 0 0 1 0 31.831
                              a 15.9155 15.9155 0 0 1 0 -31.831"
                          />
                          <text x="18" y="20.35" class="percentage">{{this.vote_average}}%</text>
                        </svg>
                    </div>
                    <p  class="text scoretext">User Score</p>
                    <button class="heart-button" [class.clicked]="isClicked" (click)="heartToggle()">
                        <span class="heart"></span>
                    </button>
                </div>
                <div class = "text">
                    <p >{{getMovieCast()}}</p>
                    <p >Director: {{getMovieDirector()}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
