.movieposter{
    width: 100%;  
    max-width: 380px;  
    height: auto;
}

.container{
    padding-top: 5rem;
    margin: 0;
}

.backdrop-wrapper {
    position: absolute;
    width: 100%;  
    height: 80vh; 
    left: 0;
    top: 0;
    overflow: hidden;
    z-index: -2;
    background-color: black;  
}

.backdrop {
    width: 100%;  
    object-fit: cover;  
    opacity: 0.5;
}

.text{
    color: rgb(255, 255, 255);
    margin-top: 10px;
}

.scoretext{
    width: 10%;
    margin-top: 5vh
}

.single-chart {
    width: 150px;
    justify-content: space-around ;
}

.circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 85%;
    max-height: 250px;
}

.circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 3.8;
}

.circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
}

@keyframes progress {
0% {
    stroke-dasharray: 0 100;
}
}

.circular-chart.orange .circle {
    stroke: #ff9f00;
}

.circular-chart.green .circle {
    stroke: #28e467;
}

.circular-chart.red .circle {
    stroke: #df0f0f;
}



.percentage {
    fill: rgb(255, 255, 255);
    font-family: sans-serif;
    font-size: 0.5em;
    text-anchor: middle;
}

.heart-button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}

.heart {
    display: inline-block;
    margin-left: 5vw;
    width: 50px;
    height: 30px;
    background-color: pink;
    clip-path: path("M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z");
    transition: transform 0.3s ease, background-color 0.3s ease;
    transform: scale(2);
}

.heart-button:hover .heart {
    transform: scale(2.2);
}

.heart-button.clicked .heart {
    background-color: red;
  }


@media (max-width: 768px) {
    .backdrop {
        height: 100%;  
    }

    .backdrop-wrapper {
        height: 70vh; 
    }

    .movieposter {
        max-width: 300px; 
    }

    .heart{
        margin-left: 15vw;
    }

    .moviepostercontainer {
        text-align: center;
    }
}

@media (max-width: 576px) {
    .backdrop {
        height: 100%;
    }

    .backdrop-wrapper {
        height: 50vh;  
    }

    .movieposter {
        max-width: 250px; 
    }

    .heart{
        margin-left: 25vw;
    }

    .moviepostercontainer {
        text-align: center;
    }
}

  