<div class="login-container">
  <form>
    <div>
      <label for="username">Username</label>
      <input  [(ngModel)]="username" name="username">
    </div>
    <div>
      <label for="password">Password</label>
      <input [(ngModel)]="password" type="password" name="password">
    </div>
    <div class="buttons">
      <button class="btn btn-primary" type="submit" (click)="login()">Login</button>
      <button class="btn btn-primary" (click)="goToRegister()">Register</button>
    </div>
  </form>
</div>