<div *ngIf="spinnerActive" class="spinner">
  <mat-spinner ></mat-spinner>
</div>
<div *ngIf="error" class="alert alert-danger col-md-12">
  {{error}}
</div>
<div *ngIf="!spinnerActive" class="login-container">
  <form>
    <div>
      <label for="username">Username</label>
      <input  [(ngModel)]="username" name="username">
    </div>
    <div>
      <label for="password">Password</label>
      <input [(ngModel)]="password" type="password" name="password">
    </div>
    <div class="buttons">
      <button class="btn btn-primary" type="submit" (click)="login()">Login</button>
      <button class="btn btn-primary" (click)="goToRegister()">Register</button>
    </div>
  </form>
</div>