
.card{
    border: 0 ;
    border-radius: 15px;
    background-color: #670802;
    color: #c2c2c2;
}

.text{
    text-align: center; 
    padding-top: 30px;
}

.block{
    margin-bottom: 80px;
    margin-left: 5px;
    margin-right: 5px;
}

.btn-primary{
    border: 0;
    background-color: #2C2727;
    border-radius: 12px;
}

.btn:hover{
    color: white
}


.removebutton{
    display: flex; 
    justify-content: center; 
}

.remove{
    width: 70px;
}

.mat-icon{
    width: 30px;
    height: 30px;
    font-size: 30px;
}

.btn{
    transition: all 0.3s ease 0s;
}


