<div class="row" style=" margin-top: 5rem; justify-content: center;">
    <div class="block col-md-2 center" *ngFor="let movie of movies">
        <div class="card btn" (click)="goToMovieDetails(movie.id)">
            <img *ngIf="movie.poster_path" class="card-img-top" [src]= '"https://image.tmdb.org/t/p/original/"+ movie.poster_path' alt="Card image cap">
            <div class="card-body row" style="text-align: left;">
              <h5 class="card-title col-md-12">{{movie.title}}</h5>
              <p class="card-text col-md-12" >Data de Lançamento: {{movie.release_date}}</p>
              <!--<p class="card-text col-md-12">{{movie.overview}}</p>  -->
            </div>
        </div>
    </div>
</div>