.text{
    color: white;
}

.searchform{
    justify-content: center; 
    text-align: center;
    margin: 10px;
    margin-top: 50px;
}

.btn{
    transition: all 0.3s ease 0s;
    background-color: transparent;
    margin-top: 10px;
    width: 58px;
    height: 48px;
}


.btn-primary{
    background-color: #670802;
    border: 0;
}

