.text{
    color: white;
}

.searchform{
    justify-content: center; 
    text-align: center;
    margin: 10px;
    margin-top: 50px;
}

.btn{
    transition: all 0.3s ease 0s;
    background-color: transparent;
}


.btn-primary{
    background-color: #9b0000;
    border: 0;
}


