<div *ngIf="spinnerActive" class="spinner">
  <mat-spinner ></mat-spinner>
</div>
<div *ngIf="error" class="alert alert-danger col-md-12">
  {{error}}
</div>
<div *ngIf="!spinnerActive" class="login-container">
  <form>
    <div>
      <label for="username">Choose Username</label>
      <input [(ngModel)]="username" name="username">
    </div>
    <div>
      <label for="password">Choose Password</label>
      <input  [(ngModel)]="password" type="password" name="password">
    </div>
    <div>
      <label for="password">Comfirm Password</label>
      <input  [(ngModel)]="confirmPassword" type="password" name="password">
    </div>
    <button class="btn btn-primary" type="submit" (click)="register()">Register</button>
  </form>
</div>